# Ignore extension configs
.vscode/**

# Ignore test files
.vscode-test-web/**
**/.vscode-test.*
dist/test/**

src/**
out/**
node_modules/**
.gitignore
webpack.config.js
esbuild.js
.github/**

#Ignore all menu files except build directory
menu/src/**
menu/public/**
menu/.parcel-cache/**
menu/node_modules/**
menu/tailwind.config.js
menu/README.md
menu/package.json
menu/package-lock.json
menu/.gitignore

#Ignore all editor files except build directory
editor/src/**
editor/public/**
editor/.parcel-cache/**
editor/node_modules/**
editor/tailwind.config.js
editor/README.md
editor/package.json
editor/package-lock.json
editor/.gitignore

# Ignore misc
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
