@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply p-0;
}

.dropdown-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.dropdown-container label {
  display: block;
  color: var(--vscode-foreground);
  cursor: pointer;
  font-size: var(--vscode-font-size);
  line-height: normal;
  margin-bottom: 3px;
}

.apollon-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--apollon-background);
}

.app-bar {
  width: 100%;
  background: var(--vscode-activityBar-background);
  padding: 1rem 0;
  display: flex;
  justify-content: flex-start;
}
